<div align="center", class="jumbotron">
<p>```</p>
      <p class = "pre_footer">< Programming is not a job - it's a lifestyle! ></p>
<p>```</p>
</div>
<footer class = "footer">
		<div class = "left_side">
			<%= link_to 'Home', root_path, class: "name" %>
		</div>
		<div class = "right_side">
			<a href="https://www.facebook.com/kaloqn.kostadinov2" target="_blank" alt="Facebook"><i class = "fa fa-facebook"></i></a>
			<a href="https://www.linkedin.com/in/kaloyan-kostadinov-0a6483149/" target="_blank" alt="LinkedIn"><i class = "fa fa-linkedin"></i></a>	
			<a href="https://twitter.com/KaloyanKostadi3" target="_blank" alt="Twitter"><i class = "fa fa-twitter"></i></a>
		</div>
	<p class="copyright">&copy; 2018 Kaloyan Kostadinov</p>
</footer>
