<nav>
    <ul>
        <li class = "navbar_element"><%= link_to "Home", home_index_path, class: "navbar_elements" %></li>
        <li class = "navbar_element"><%= link_to "Posts", posts_path, class: "navbar_elements" %></li>
        <li class = "navbar_element"><%= link_to "Categories", categories_path, class: "navbar_elements" %></li>
        <li class = "navbar_right_element" ><%= link_to "About", abouts_path, class: "navbar_elements" %></li>
    </ul>
</nav>
<h1 id="page_title">Welcome to ProgrammersBlog</h1>