<h1 align="center">Edit Account</h1>

<%= render 'form', user: @user %>
<div class="row">
    <div class="xol-xs-12">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <small>
                        [<%= link_to 'Dismiss and go back', root_path %>]
                </small>
            </div>
        </div>
    </div>
</div>
