<p id="notice"><%= notice %></p>

<h1 class = "page_title">Posts</h1>

<%= render 'partials/posts', obj: @posts %>

<br>
<% if logged_in? %>
  <div class = "col-xs-8 col-xs-offset-2 buttons">
    <%= link_to 'New Post', new_post_path, class: "btn btn-success btn-lg" %>
  </div>
<% end %>

<div align="center">
  <%= will_paginate %>
</div>