<h1>Editing Category</h1>

<%= render 'form', category: @category %>


<div align="center" class = "form-group col-sm-10">
	<small>
		[ <%= link_to 'Dismiss and go back', categories_path %> ]
	</small>
</div>