<p id="notice"><%= notice %></p>

<h1 class="posts_header">Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

    </thead>
        <% @categories.each do |category| %>
          <header>
            <p class="date"><%= category.created_at.strftime('%A, %b, %d') %></p>
            <h1 class="post_title"><%= category.title %></h1>
          </header>
            <hr>
        <% end %>
</table>

<br>
<div class = "buttons">
  <%= link_to 'New Category', new_category_path, class: "btn btn-success" %>
</div>
