<header>
	<p class="date"><%= @category.created_at.strftime('%A, %b, %d') %></p>
	<h1><%= @category.title %></h1>
</header>
<br>
<div class = "buttons">
	<%= link_to 'Back', categories_path  %>
</div>