<header>
	<p class="date"><%= @category.created_at.strftime('%A, %b, %d') %></p>
	<h1 class = "category-title"><%= @category.title %></h1>
</header>
	<%= render  "partials/posts", obj: @category_posts %>
<br>
<div class = "col-xs-8 col-xs-offset-2 buttons">
	<%= link_to 'Back', categories_path, class: "btn btn-primary btn-md"  %>
</div>